@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200, 300, 400,700');
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    margin: 0;
}

h1{
    font-size: 2em;
    font-weight: 500;

}

h2{
    font-size: 1.7em;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.2em;
    color:#918F90;
    border-bottom: #ED1A2D solid 3px;
    width:5em;
    margin: 0 auto;
    padding-bottom:0.3em;
}

a{
    text-decoration: none;
    color: #444;
}

p{
    font-size: 1em;
}

.menu-header{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F6;
}

header > a > img{
width: 8em;
margin: 1.4em 0 0 1.4em;
}


body > header{
    background-color: white;
    width: 100%;
    height:4.5em;
    display: flex;
}

nav{
    width: 100vw;
    height: 100%;
}

nav ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    overflow-x: auto;
    width: 100vw;
    justify-content: center;
    background-color: #EBEBEC;
}

nav li{
    background-color: #EBEBEC;
    padding:1em 2em;
    color:#444;
}

nav li:hover{
background-color: darkgrey;
color: white;
}




section{
    background-color: #09477F;
    color:white;
    height: 10em;
    padding-top: 9%;
    padding-bottom: 9%;
    text-align: center;
    position: relative;
    background-image: url(https://www.ret.nl/fileadmin/user_upload/afbeeldingen/Header_images/Webwinkel_vrouw_1920x642.jpg);
    background-blend-mode: luminosity;
    background-position: center;
    background-size: cover;
}




section > button{
    width: 10em;
    height: 25%;
    background-color: #ED1A2D;
    border:none;
    color: white;
    font-size: 1em;
    border-radius: 0.2em;
    cursor:pointer;
}

section > button:hover{
    background-color: #CC1929;

}

form{
    background-color: #EBEBEC;
    width: 100%;
    height: 20.3em;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

form > div {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
}





form > div > select/* stuk code gepakt van https://www.filamentgroup.com/lab/select-css.html*/ {   
    flex-basis: 100%;
    font-size: 1em; 
    font-family: sans-serif; 
    color: #444; 
    line-height: 1.3; 
    padding: .6em 1.4em .5em .8em; 
    width: 85%; 
    margin:0 auto; 
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none; 
    background-color: white; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat; 
    background-position: right .7em top 50%, 0 0; 
    background-size: .65em auto, 100%; 
}

form > div > fieldset{
    border:none;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;  
} 




form  > button{
    width: 7em;
    height: 2em;
    background-color: #ED1A2D;
    border:none;
    color: white;
    font-size: 1em;
    border-radius: 0.2em;
    cursor:pointer;
    align-self: flex-end;
    margin-right: 2em;
}

input{
    margin-right: 1em;
}


legend{
    font-size: 1.1em;
    margin: 1em 0 1em 2em;
    color: #444444;
}
main{
    background-color: #F4F4F5;   
}

article{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

 main > article{
     background-color:white;
     width: 85%;
     /*max-width: 25em;*/
     margin: 0 auto;
     margin-top: 3.5rem;
     text-align: center;
     -webkit-box-shadow: 0px 0px 27px -16px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 0px 27px -16px rgba(0,0,0,0.75);
     box-shadow: 0px 0px 27px -16px rgba(0,0,0,0.75);
     
     border-radius: 0.3em;
 }

 article > header{
     height:16rem;
     background-color: white;
     width: 100%;
     display: flex;
 }

article > header > img{
    width: 100%;
    
}

article > p {
    margin:  2em 0 1em 0 ;
    padding: 0 1.2em;
}

article > a{
    margin:  0 0 1em 0 ;
    color:#13679C;
}

article > a:hover{
    text-decoration: underline;
}


article > footer{
    margin-top: 2em;
    height: 3.5em;
    display: flex;
    border-top:#D5D5D5 solid 2px;
    justify-content: space-between;
    padding: 0 1.3em;
   
}


article > footer > a > svg{
    padding: 1em 0 0 0; 
    width:2.4em;
    fill:#A9A9A9;
}

.st1:hover{
    fill:#007F0E;
}

.st2:hover{
    fill: #ED1A2D;
}

.filter-button{
display:none;
}



.footer-balk{
    background-color: #13679C;
    width: 100%;
    height: 4em; 
    display: flex;
}

.footer-balk p{
    color: white;
    width: 100%;
    height: 4em; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.verhaal{
    width: 100%;
    background-image: none;
    background-color: white;
    padding-top: 0;
    
}

section.verhaal img:first-child{
    width: 100%;
    display: block;
}

section.verhaal img{
    width: 100%;
    display: none;
}






@media (min-width:40em) {
   


}

@media (min-width:55em) {
    section.verhaal img:first-child{
        display: none;
            }
    section.verhaal img{
                width: 100%;
                display: block;
            }

    .filter-button{
        display:flex;
        }
        
    body > div.filter-window {
        transition: 1s ease;
    }

    .active {
        margin-left: -27.5em;
    }
    body > div.filter-window{
        position: fixed;
        left: 0;
        top: 30%;
        width: 60vw;
        max-width: 30em;
        box-shadow: 3px 3px 14px rgba(0,0,0,0.5);
        background-color: #eee;
        display:flex;
        height:6em;
        justify-content: flex-end;

    }

    body > div > button {
        display: unset;
        cursor: pointer;
        background-color:  #ED1A2D;
        border:none;
        height: 100%;
    }
    body > div > button:hover{
        background-color:  #CC1929;
    }

    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 3em;
        grid-gap: 3em;
    }


    main > article{
        width: auto;
        margin: 0;
    }

    
}


@media (min-width:80em) {

    form{
        max-width: 30em;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 3em;
        grid-gap: 3em;
    }
      main > article:first-child{
          grid-column: 1/3;
          
      }   
      .menu-header{
        display: flex;
        flex-direction: row;
        height: 4em;
        background-color: #F5F5F6;
    }   

    
    .menu-header nav{
        flex: 1 2 auto;
        
    }

    .menu-header nav ul{
        justify-content: flex-end;
        background-color: #F5F5F6;
        width: auto;
        padding-top: 5px;
    }

    .menu-header nav ul li {
        background-color: #F5F5F6;
    }

    .menu-header header{
        flex: 2 1 auto;
    }
    
        
}

